body{
	background-color: #cbd9ef;
}

.container{
	width: 300px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}


input{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	
}

.loading{
	display: block;
	width: 100%;
}

#loading{
	display: block;
	width: 35px;
	height: 35px;
	margin: 0 auto;
}

button{
	border-radius: 3px;
}
